h1 {
    font-size: 5em;
}

#profile {
    height: 400px;
    background-color: darkslategray;

}

body {
    background-color: bisque;
    color: steelblue;
}

a {
    color: lightslategray;
    text-decoration: none;
}

div {
    background: burlywood;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: solid;
    border-radius: 10px;
}

.social-icon {
    height:5%;
    padding: 1%;
}
